@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;

}

#main-wrapper {
	position: relative;

	width: 100vw;
	height: 100vh;

	padding: 3rem;

	box-sizing: border-box;
}

#file-load {
	position: absolute;
	bottom: 2em;
	left: 2em;
}

#result {
	position: fixed;
	top: 0;
	width: 13rem;
	padding: 0.5rem;
}

canvas {
	position: absolute;
	box-shadow: 0 0 0 5px #000;
}

#test {
	z-index: 1;
}

#original {
	z-index: 0;
}

#processed-image {
	z-index: 4;
}
